var/lib/influxdb/
var/lib/mosquitto/
var/lib/node-red/.config.nodes.json.backup
var/lib/node-red/.npm/_cacache/
setup/generic/tig/etc/telegraf/telegraf.d/etc.inputs.mqtt.outputs.influxdb.conf
setup/generic/tig/etc/telegraf/telegraf.d/system.conf
var/lib/mosquitto/mosquitto.db
var/lib/grafana/grafana.db
var/lib/node-red/.config.nodes.json
var/lib/node-red/.config.nodes.json.backup
var/lib/node-red/.npm/_cacache/
*.backup
*.orig
node_modules
*.log
.prettierrc.js
.Trash*/
.vscode/
*.code-workspace
.DS_Store
